$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts/iconfont/fonts" !default;

$c-icon-facebook: "\ea90";
$c-icon-instagram: "\ea92";
$c-icon-twitter: "\ea96";
$c-icon-youtube: "\ea9d";
$c-icon-linkedin: "\eaca";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?27g409') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?27g409') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?27g409##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.c-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-facebook {
  &:before {
    content: $c-icon-facebook; 
  }
}
.c-icon-instagram {
  &:before {
    content: $c-icon-instagram; 
  }
}
.c-icon-twitter {
  &:before {
    content: $c-icon-twitter; 
  }
}
.c-icon-youtube {
  &:before {
    content: $c-icon-youtube; 
  }
}
.c-icon-linkedin {
  &:before {
    content: $c-icon-linkedin; 
  }
}

