$size-small: 12px !default;
$size-large: 24px !default;

/* SCSS Mixin:
Schreibe ein Mixin Namens BUTTON
das Mixin gibt dir eine Schriftfarbe zurück
das Mixin gibt dir eine Hintergrundfarbe zurück
gib eine Size zurück (padding): small oder large
der Button kann eine Border haben: true oder false
binde das Mixin an einer Button Komponente ein */
@mixin button($color: black, $background: white, $size: $size-small, $border: true) {
	color: $color;
	background-color: $background;
	padding: $size;
	@if $border {
		border: 1px solid $color;
	} @else {
		border: none;
	}
}
