$GLOBAL-COLOR-DEFAULT: #595959 !default;
$GLOBAL-COLOR-BASE: #2D2C41 !default;
$GLOBAL-COLOR-PRIMARY: #FFFFFF !default;
$GLOBAL-COLOR-SECONDARY: #444359 !default;
$GLOBAL-COLOR-TERTIARY: #B63B4D !default;
