$GLOBAL-COLOR-BASE: #8CB8A1 !default;
$GLOBAL-COLOR-DEFAULT: #000000 !default;
$GLOBAL-COLOR-PRIMARY: #4B2E23 !default;
$GLOBAL-COLOR-SECONDARY: #E6D3BA !default;
$GLOBAL-COLOR-TERTIARY: #F5EDE2 !default;

