$GLOBAL-SPACING-DEFAULT: 18px !default;
$GLOBAL-SPACING-XS: 9px !default;
$GLOBAL-SPACING-S: 12px !default;
$GLOBAL-SPACING-M: 20px !default;
$GLOBAL-SPACING-XL: 100px !default;
$GLOBAL-SPACING-XXL: 200px !default;

$GLOBAL-MAX-INLINE-SIZE: 1400px !default;
