$GLOBAL-FONT-SIZE-DEFAULT: 14px !default;
$GLOBAL-FONT-SIZE-S: 18px !default;
$GLOBAL-FONT-SIZE-M: 20px !default;
$GLOBAL-FONT-SIZE-L: 36px !default;

$GLOBAL-FONT-FAMILY-DEFAULT: "Arial", sans-serif !default;
$GLOBAL-FONT-FAMILY: "Caveat", cursive, sans-serif !default;

$GLOBAL-FONT-WEIGHT: 400px !default;
