$GLOBAL-COLOR-BASE: #ffffff !default;
$GLOBAL-COLOR-DEFAULT: #000000 !default;
$GLOBAL-COLOR-PRIMARY: #bab4b4 !default;
$GLOBAL-COLOR-SECONDARY: #00adef !default;
$GLOBAL-COLOR-TERTIARY: #00cba0 !default;
$GLOBAL-COLOR-QUATERNARY: #CC2525 !default;


