@use "../01-tokens" as TOKENS;

* {
	box-sizing: border-box;
}

body {
	background-color: TOKENS.$GLOBAL-COLOR-SECONDARY;
	font-family: Arial, sans-serif;
	color: TOKENS.$GLOBAL-TEXT-COLOR;
}
