$GLOBAL_COLOR-BASE: #ffffff !default;
$GLOBAL-COLOR-DEFAULT: #000000 !default;
$GLOBAL-COLOR-PRIMARY: #706c6c !default;
$GLOBAL-COLOR-SECONDARY: #d3e9d4 !default;
$GLOBAL-COLOR-TERTIARY: #f0fdfa !default;
$GLOBAL-COLOR-QUATERNARY: #d3d3d3 !default;

$GLOBAL-TEXT-COLOR: $GLOBAL-COLOR-PRIMARY !default;
